<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:finance.db</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="hibernate.jdbc.time_zone">UTC</property>
        <property name="hibernate.jdbc.convert_timestamp_to_jdbc_format">false</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
    </session-factory>
</hibernate-configuration>
